body {
  font-family: 'Open Sans', sans-serif;
}

h1{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid rgba(0,0,0, 0.2) 2px;
  font-weight: 700;
}

h2{
  display: inline-block;
  font-weight: 400;
  padding-bottom: 10px;
}

.alert{
  margin-top: 20px;
  background: #F25F5C;
  color: white;
}

.alert > h3{
  font-size: 1.7em;
  font-weight: 700;
}

.alert >  h4> a{
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

.alert > h4 > a:link, .alert > h4 > a:hover, .alert> h4> a:active{
  color: white;
} 